.img-style{
    width: 350px ;
    opacity:0
}
.img-style:hover{
   opacity: 0.9;
   border-radius: 10px;
   border-top: 15px double goldenrod;
   border-bottom: 15px double goldenrod;
}

#btn:hover{
color: rgb(19, 169, 228);
font-weight: 600;

}